### Look A Like Modelling Dataset creation (dont need this in real world)

Hello all. Since this is beginning of the one of the people based modelling processes, LAL modelling, we will be looking into
creating a seed data, and a overall data. With Look a likes, we usually have big datasets consisting of unique users who may or may not have the same behavior which are defined over a particular list of variables (or features), which describe the user over some dimensions.

The goal of a look a like model is to find/ score a populus based on the maximum likelihood of behaviors they have over a seed data, something we want to find the users against.
This seed data are usually identifiers of a certian set of people, whose behaviors we are trying to map over our dimensions and look for the most likelihood people. They could be obtained from researching some other dimensions, or could be part of another analysis we are doing, or could be a byproduct of another segmentation analysis as well.

However, the seed data is usualy restricted in terms of size and is ideally a subset of some other group of users. In a more realistic scenario, it could be for e.g., buyers for a car over a period which purchased over our marketing campaign, while the base could be of people who have showed intrest in buying our car but never bought the car. ( or could be an entire population of a locality)

We will then look into people who could have been the maximum likelihood of being potiential buyers of this car, what their most prominent features are, as well a decile (or any subset) or groups, which are the closest and will be targeted in the next ad-campaigns over any targeting platform. This helps in reducing costs for targeting (this is expensive you know, since it pays per user) as well as testing out any test control groups for any campaign analysis and with reporting.

##### Again, since the actual real world data cannot be obtained easily and if so will cost millions and maybe a lasuit ;-( , I will try to create an artificial dataset, something which closely resembles the real world collective data and seed so we can begin our analysis

Right now, we are doing the whole thing in python, but once i get to kno how to install and operate pyspark on local machine I might try that version too, as that is the ideally what any data science company likes to operate it on. Remember, python is non distributed single node working machine may not handle any big data of size of trillions(welcome to real world data!) efficiently.

However, lets get started !

We will be using the python's blob data function to create a dataset of size 30k, while keeping the seed to be 1.5k in size.
The number is features should be big tho(again following real world metadata you will usually deal with), like 150.

All the best! :-)

###### Note : This script is supposed to be run once, and it will save the data in your local. DO NOT RE-RUN!

In [48]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_blobs

In [29]:
data = make_blobs(n_samples=30000, n_features=150, cluster_std=3.2, random_state=123)

In [34]:
data[0].shape # this is your data

(30000, 150)

In [13]:
# Features for this dataset taken straight from chat GPT (I am out of ideas, sue me)
# On second thought -  please dont :'(

# Since features are important for our analysis, and in terms of handling model explainability, we will be keeping feature names as it is
# and not do any PCA's. (Important)

features=[('Feature_'+'0'*(3-len(str(i)))+str(i)) for i in range(1,151)]
print(len(features))

150

In [51]:
# Identifiers for users, since they are lawfully restricted not to use / share / work with any PII information in raw form, or 
# as anything closely resembling it. (usually the case)
# Here I am generating a simpler artificial ids:
identifer_ids = [('INT'+'0'*(5-len(str(i)))+str(i)) for i in range(1,30001)]


# Create pandas data frame
df_univ=pd.DataFrame(data=data[0], columns=features, index=identifer_ids)
df_univ.insert(loc=0, column='User_ID' ,value=df_univ.index)
df_univ.reset_index(drop=True, inplace=True)

df_univ.head()

,User_ID,Feature_001,Feature_002,Feature_003,Feature_004,Feature_005,Feature_006,Feature_007,Feature_008,Feature_009,...,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149,Feature_150
0,INT00001,7.902707,3.934027,2.992432,2.457656,2.171072,0.710439,9.616829,0.081865,1.745974,...,7.675113,0.144090,10.169396,3.100324,1.523768,4.087521,1.290753,8.201174,1.908024,11.136004
1,INT00002,7.345320,4.800280,5.149543,4.771220,7.373461,8.612055,10.406925,7.173135,3.742610,...,1.648125,2.407802,4.384571,2.947713,10.088230,7.265461,5.429230,7.754743,8.198912,2.882864
2,INT00003,7.019996,3.701058,2.173010,5.196469,5.882442,6.191912,8.448454,4.124775,4.790987,...,0.787553,8.113901,7.042840,7.497758,5.337537,7.444888,1.146252,6.388693,8.485751,5.164247
3,INT00004,5.100175,8.833478,2.497557,0.281287,3.265252,3.381008,7.336768,0.742366,11.348948,...,9.659769,4.305934,12.365192,3.889348,2.447190,5.068310,4.383385,10.803505,2.239820,7.089639
4,INT00005,14.385118,1.860252,9.188752,6.048681,8.667625,15.595573,6.380226,3.285252,0.125542,...,2.021723,1.215978,5.951019,1.903758,15.803604,9.465807,4.345506,1.433327,6.067204,10.226351

In [52]:
df_univ[features]=df_univ[features].apply(lambda x:np.abs(x))
df_univ.head()

,User_ID,Feature_001,Feature_002,Feature_003,Feature_004,Feature_005,Feature_006,Feature_007,Feature_008,Feature_009,...,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149,Feature_150
0,INT00001,7.902707,3.934027,2.992432,2.457656,2.171072,0.710439,9.616829,0.081865,1.745974,...,7.675113,0.144090,10.169396,3.100324,1.523768,4.087521,1.290753,8.201174,1.908024,11.136004
1,INT00002,7.345320,4.800280,5.149543,4.771220,7.373461,8.612055,10.406925,7.173135,3.742610,...,1.648125,2.407802,4.384571,2.947713,10.088230,7.265461,5.429230,7.754743,8.198912,2.882864
2,INT00003,7.019996,3.701058,2.173010,5.196469,5.882442,6.191912,8.448454,4.124775,4.790987,...,0.787553,8.113901,7.042840,7.497758,5.337537,7.444888,1.146252,6.388693,8.485751,5.164247
3,INT00004,5.100175,8.833478,2.497557,0.281287,3.265252,3.381008,7.336768,0.742366,11.348948,...,9.659769,4.305934,12.365192,3.889348,2.447190,5.068310,4.383385,10.803505,2.239820,7.089639
4,INT00005,14.385118,1.860252,9.188752,6.048681,8.667625,15.595573,6.380226,3.285252,0.125542,...,2.021723,1.215978,5.951019,1.903758,15.803604,9.465807,4.345506,1.433327,6.067204,10.226351

In [53]:
df_univ.shape

(30000, 151)

In [70]:
df_univ.to_csv('movie_universe_features.csv', index=False)

In [60]:
seed_df=df_univ.sample(n=1500, random_state=123, )
seed_df=pd.DataFrame(seed_df['User_ID']).reset_index(drop=True)
print(seed_df.shape)
print(df_univ.shape)

(1500, 1)
(30000, 151)

In [73]:
# checking whether they can join or not
# .join works for joining by indexes, so leave that, and use merge. works the same
temp=pd.merge(seed_df, df_univ, how='left', on='User_ID')
print(temp.shape)

(1500, 151)

In [75]:
# Save the seed IDs
#temp.head()
temp=None
seed_df.to_csv('seed.csv', index=False)

In [77]:
#END